<?xml version="1.0"?>
<robot name="carrinho">

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.15 0.10 0.04"/> 
      </geometry>
      <material name="blue_chassi">
        <color rgba="0.0 0.0 0.8 1.0"/>
      </material>
    </visual>
    
    <collision>
      <geometry>
        <box size="0.15 0.10 0.04"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <link name="indicador_frente">
    <visual>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="joint_indicador" type="fixed">
    <parent link="base_link"/>
    <child link="indicador_frente"/>
    <origin xyz="0.075 0.0 0.02"/> </joint>

  <link name="roda_esq">
    <visual>
      <origin rpy="1.5707 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.0325"/> </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="joint_esq" type="fixed">
    <parent link="base_link"/>
    <child link="roda_esq"/>
    <origin xyz="0.0 0.0675 -0.01" rpy="0 0 0"/>
  </joint>


  <link name="roda_dir">
    <visual>
      <origin rpy="1.5707 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.0325"/> </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="joint_dir" type="fixed">
    <parent link="base_link"/>
    <child link="roda_dir"/>
    <origin xyz="0.0 -0.0675 -0.01" rpy="0 0 0"/>
  </joint>

</robot>
